<mat-card class="card-item">
    <mat-card-title>{{ productItem.title }}</mat-card-title>

    <mat-card-content>
        <p>{{ productItem.descriptions }}</p>
    </mat-card-content>

    <img mat-card-image src="{{ productItem.img }}" />

    <mat-card-subtitle>
        <p>Price: {{ productItem.price | currency }}</p>
    </mat-card-subtitle>

    <mat-card-actions>
        <button mat-raised-button color="accent">LIKE</button>
        <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>
