.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 3rem;
    background-color: blueviolet;

    button {
        color: white;
        margin: 0.5rem;

        &:hover {
            color: antiquewhite;
            background-color: rgb(69, 23, 112);
        }

        &.active {
            background-color: rgb(108, 34, 177);
            font-weight: 500;
        }
    }
}

mat-divider {
    margin-bottom: 30px;
}
