<mat-nav-list class="nav-list">
    <mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a>Products</a>
    </mat-list-item>

    <mat-list-item routerLink="process-order" routerLinkActive="active">
        <a>Process order</a>
    </mat-list-item>

    <mat-list-item>
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            matBadge="0"
            matBadgeSize="small"
            matBadgePosition="below"
            >shopping_cart</mat-icon
        >
    </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
