.item-card {
    margin-bottom: 20px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 750px;
        margin: 0 auto;

        p {
            margin: 0;
            align-self: center;
			font-size: 1.5rem;

            &:last-child {
                font-weight: bold;
            }
        }
    }
}
