.list-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .spinner-load {
        padding-top: 10rem;
        margin: 0 auto;
    }

    .item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 400px;
        margin: 0 15px 15px 0;
        justify-content: space-between;
    }
}
