:host {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 10rem;

    .spinner-load {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 20px);
    }

    button {
        margin: 20rem 2rem;
    }

    .card-item {
        width: 400px;
    }

    .mat-elevation-z8 {
        align-self: baseline;
        margin-left: 20px;
        width: 400px;

        .mat-header-cell {
            font-size: 1.1rem;
        }

        .mat-column-name {
            border-right: 1px solid rgb(212, 212, 212);
            padding: 15px;
            width: 40%;
        }

        .mat-column-text {
            padding: 15px;
        }
    }
}
